################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AirportProject/v15/Server/sqlite3
*.mdf
*.ldf
/AirportLogicService/bin/Debug
